div.container-basicKey{
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

div.container-basicKey-dark{
  background-color: blue;
}

div.container-basicKey-clearDark{
  background-color: red;
}

div.container-basicKey-orange{
  background-color: orange;
}